@media screen and (min-width: $tablet-screen) {
    .text{
        font-family: $text-font;
        font-style: normal;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        &--midle-center{
            font-size: 24px;
            line-height: 32px;
            text-align: center;
        }
        &--midle{
            font-size: 24px;
            line-height: 32px;
        }
        &--big{
            font-size: 2vw;
            line-height: 3vw;
        }
        &--bold{
            font-weight: 500;
        }
        &--black{
            color: black;
        }
    }
}

@media screen and (max-width: $tablet-screen) {
    .text{
        font-family: $text-font;
        font-style: normal;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        &--midle-center{
            font-size: 18px;
            line-height: 24px;
            text-align: center;
        }
        &--big{
            font-size: 18px;
            line-height: 21px;
            font-size: 2.5vw;
            line-height: 3vw;
        }
        &--bold{
            font-weight: 500;
        }
        &--black{
            color: black;
        }
    }
}

@media screen and (max-width: $mobile-screen) {
    .text{
        font-family: $text-font;
        font-style: normal;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        &--midle-center{
            font-size: 14px;
            text-align: center;
            line-height: 19px;
        }
        &--big{
            font-size: 15px;
            line-height: 20px;
        }
        &--bold{
            font-weight: 500;
        }
        &--black{
            color: black;
        }
    }
}