@media screen and (min-width: $tablet-screen) {
    .title{
        font-family: $title-font;
        font-weight: 400;
        font-size: 3vw;
        line-height: 4vw;
        text-align: center;
        color: white;
        &--big{
            font-size: 9vw;
            line-height: 9vw;
            text-transform: uppercase;
        }
        &--mini{
            font-size: min(2.5vw, 27px);
            line-height: min(3vw, 30px);
            text-align: left;
            color: black;
        }
    }
}

@media screen and (max-width: $tablet-screen) {
    .title{
        font-family: $title-font;
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: white;
        &--big{
            font-size: 9vw;
            line-height: 9vw;
            text-transform: uppercase;
        }
        &--mini{
            font-size: 20px;
            line-height: 22px;
            color: black;
            text-align: left;
        }
    }
}

@media screen and (max-width: $mobile-screen) {
    .title{
        font-family: $title-font;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: white;
        &--big{
            font-size: 40px;
            line-height: 44px;
            text-transform: uppercase;
        }
        &--mini{
            font-size: 15px;
            line-height: 16px;
            text-align: left;
            color: black;
        }
    }
}