
// ANALYSIS==================================================================

.cylinder{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    &__layer{
        position: relative;
    }
}
.analysis__scheme{
    display: flex;
    align-items: center;
}
.signature-list{
    width: 100%;
    height: fit-content;
}
.signature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__arrow{
        width: auto;
        height: 0;
        border: 1px solid white;
    }
    &__arrow ~ &__arrow{
        flex-grow: 1;
        margin-left: 15px;
    }
    &__text-wrapper{
        padding: 5px;
        text-align: center;
        background: #151515;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
    }
    &__icon{
        margin-left: 15px;
    }
}
@media screen and (min-width: $tablet-screen) {
    .analysis{
        margin-top: 7.8vw;
        &__container{
            margin: 0 8.5vw;
        }
        &__text{
            max-width: 675px;
            margin: 10px auto 0;
        }
        &__scheme{
            height: 490px;
        }
    }
    .cylinder{
        width: 260px;
        height: 430px;
        top: -2vw;
        &__layer{
            width: 260px;
            height: 228px;
            margin-bottom: -130px;
        }
        &__layer:nth-child(1){
            margin: 0;
        }
    }
    .signature-list{
        margin-top: -30px;
    }
    .signature{
        & + &{
            margin-top: 30px;
        }
        &__arrow{
            flex-basis: 15%;
        }
        &__text{
            width: fit-content;
            font-size: max(19px, 2vw);
            line-height: max(25px, 3vw);
        }
    }
}
@media screen and (max-width: $tablet-screen) {
    .analysis{
        margin-top: 60px;
        &__container{
            margin: 0 30px;
        }
        &__text{
            max-width: 340px;
            margin: 15px auto 0;
        }
    }
    .cylinder{
        width: 130px;
        height: 245px;
        top: -2vw;
        &__layer{
            width: 130px;
            height: 112px;
            margin-bottom: -65px;
        }
        &__layer:nth-child(1){
            margin: 0;
        }
    }
    .signature-list{
        padding-top: 30px;
    }
    .signature{
        & + &{
            margin-top: 10px;
        }
        &__arrow{
            flex-basis: 10%;
        }
        &__text{
            font-size: min(4vw, 20px);
            width: fit-content;
            line-height: min(5.5vw, 27px);
        }
        &__icon{
            margin-left: 15px;
            width: 25px;
            height: 25px;
        }
    }
}
@media screen and (max-width: $mobile-screen) {
    .analysis{
        margin-top: 40px;
        &__container{
            margin: 0 5vw;
        }
        &__text{
            max-width: 250px;
            margin: 5px auto 0;
        }
    }
    .analysis__scheme{
        height: 200px;
    }
    .cylinder{
        width: 130px;
        height: 245px;
        top: -2vw;
        &__layer{
            width: 130px;
            height: 112px;
            margin-bottom: -65px;
        }
        &__layer:nth-child(1){
            margin: 0;
        }
    }
    .signature{
        &__text{
            font-size: 14px;
            
            line-height: 19px;
        }
        &__arrow ~ &__arrow{
            margin-left: 5px;
        }
        &__icon{
            margin-left: 5px;
        }
    }
}