.easiest {
    margin-top: 110px;
    &__container {
        margin-right: 100px;
        margin-left: 100px;
    }
    &__text{
        max-width: 675px;
        margin: 30px auto 0;
    }
}
.benefits {
    &__container {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}
.benefit {
    // max-width: 515px;
    width: 28vw;
    border-radius: 20px;
    padding: 0 18px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & + &{
        margin-left: 100px;
    }
    &:nth-child(1){
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33%, #FFB600 140%);
    }
    &:nth-child(2){
        background: linear-gradient(180deg, rgba(21, 21, 21, 0) 33%, #6F00FF 140%);
    }
    &:nth-child(3){
        background: linear-gradient(180deg, rgba(21, 21, 21, 0) 33%, #EE495F 140%);
    }
    &__img {
        width: 20vw;
        height: 20vw;
        margin-top: -25px;
    }
    &__text{
        text-align: center;
    }
}
