.background-layer{
    .radial-gradient--orange, .radial-gradient--purple, .pink-cyrcle{
        z-index: -1;
    }
    .radial-gradient--orange{
        &:nth-child(1){
            top: calc(8vw + 30px);
            left: -6.5vw;
        }
        &:nth-child(2){
            top: calc(-1vw);
            left: -10.5vw;
        }
    }
    .radial-gradient--purple{
        top: calc(5.2vw + 100px);
        right: -7.8vw;
    }
    .pink-cyrcle{
        top: calc(1.3vw + 50px);
        right: calc(-15.5vw - 50px);
    }
}
.topboard{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo, .autorization{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width: 175px;
    &__image{
        height: 70px;
        width: 80px;
    }
    &__text{
        margin-left: 7px;
        height: 30px;
    }
    &__word{ 
        font-family: $title-font;
        color: $main-yellow;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        text-transform: uppercase;
    }
    &__word + &__word{
        color: white;
    }
}   
.name{
    &__word:nth-child(1){
        color: $main-yellow;
        text-align: left;
    }
    &__word:nth-child(2){
        color: white;
        text-align: right;
    }
}
.offer{
    &__button{
        margin-top: 55px;
        margin-right: auto;
        margin-left: auto;
    }
}
.trade-card-pattern {
    position: relative;
    &__item {
        position: absolute;
    }
}
.background-layer__name{
    text-align: center;
    font-family: $title-font;
    font-size: 8.5vw;
    background: linear-gradient(180deg, rgba(181, 181, 181, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media screen and (min-width: $tablet-screen) {
    .header__container{
        margin-right: 16.14vw;
        margin-left: 16.14vw;
    }
    .radial-gradient--orange, .radial-gradient--purple, .pink-cyrcle{
        width: 39vw;
        height: 39vw;
    }
    .logo{
        height: 70px;
        width: 175px;
        &__image{
            height: 70px;
            width: 80px;
        }
        &__text{
            margin-left: 7px;
            height: 30px;
        }
        &__word{ 
            font-size: 13px;
            line-height: 14px;
        }
    }
    .name{
        margin-top: 130px;
    }
    .trade-card-pattern {
        height: 500px;
        &__item:nth-child(1){
            width: 140px;
            height: 180px;
            left: 5%;
        }
        &__item:nth-child(2){
            width: 140px;
            height: 180px;
            right: 5%;
        }
        &__item:nth-child(3){
            width: 205px;
            height: 265px;
            top: 70px;
            left: 20%;
        }
        &__item:nth-child(4){
            width: 205px;
            height: 265px;
            top: 70px;
            right: 20%;
        }
        &__item:nth-child(5){
            width: 275px;
            height: 350px;
            top:170px;
            left:50%;
            margin-left:-137.5px;
        }
    }
    .background-layer__name{
        margin-top: 60px;
    }
}
@media screen and (max-width: $tablet-screen) {
    .header__container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .radial-gradient--orange, .radial-gradient--purple, .pink-cyrcle{
        width: 50vw;
        height: 50vw;
    }
    .radial-gradient--orange{
        display: none;
    }
    .logo{
        height: 45px;
        width: 120px;
        &__image{
            height: 45px;
            width: 50px;
        }
        &__text{
            margin-left: 5px;
            height: 20px;
        }
        &__word{ 
            font-size: 10px;
            line-height: 12px;
        }
    }
    .name{
        margin-top: 90px;
    }
    .offer{
        .text{
            max-width: 435px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .trade-card-pattern {
        height: 300px;
        &__item:nth-child(1), &__item:nth-child(2){
            display: none;
        }
        &__item:nth-child(3){
            width: 145px;
            height: 180px;
            top: 55px;
            left: 10%;
        }
        &__item:nth-child(4){
            width: 145px;
            height: 180px;
            top: 55px;
            right: 10%;
        }
        &__item:nth-child(5){
            width: 160px;
            height: 200px;
            top:100px;
            left:50%;
            margin-left:-80px;
        }
    }
    .background-layer__name{
        margin-top: 40px;
    }
}
@media screen and (max-width: $mobile-screen) {
    .header__container{
        margin-right: 10px;
        margin-left: 10px;
    }
    .radial-gradient--orange, .radial-gradient--purple, .pink-cyrcle{
        width: 60vw;
        height: 60vw;
    }
    .radial-gradient--orange{
        display: none;
    }
    .logo{
        height: 45px;
        width: 120px;
        &__image{
            height: 45px;
            width: 50px;
        }
        &__text{
            margin-left: 5px;
            height: 20px;
        }
        &__word{ 
            font-size: 10px;
            line-height: 12px;
        }
    }
    .name{
        margin-top: 40px;
    }
    .offer{
        .text{
            max-width: 295px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .trade-card-pattern {
        height: 250px;
        &__item:nth-child(1), &__item:nth-child(2){
            display: none;
        }
        &__item:nth-child(3){
            width: 90px;
            height: 115px;
            top: 55px;
            left: 5%;
        }
        &__item:nth-child(4){
            width: 90px;
            height: 115px;
            top: 55px;
            right: 5%;
        }
        &__item:nth-child(5){
            width: 130px;
            height: 160px;
            top:90px;
            left:50%;
            margin-left:-65px;
        }
    }
    .background-layer__name{
        margin-top: 20px;
    }
}