// HEADER=======================================================================

.background-layer{
    .radial-gradient--orange, .radial-gradient--purple, .pink-cyrcle{
        width: 39vw;
        height: 39vw;
        z-index: -1;
    }
    .radial-gradient--orange:first-child{
        top: 150px;
        left: -125px;
    }
    .radial-gradient--orange + .radial-gradient--orange{
        top: -20px;
        left: -200px;
        transform: rotate(0deg);
    }
    .radial-gradient--purple{
        top: 100px;
        right: -150px;
    }
    .pink-cyrcle{
        right: -300px;
        top: 25px;
    }
}

//====================================

.container__header{
    margin-right: 16.14vw;
    margin-left: 16.14vw;
}
.topboard{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo, .autorization{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width: 175px;
    &__image{
        height: 70px;
        width: 80px;
    }
    &__text{
        margin-left: 7px;
        height: 30px;
    }
    &__word{ 
        font-family: $title-font;
        color: $main-yellow;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        text-transform: uppercase;
    }
    &__word + &__word{
        color: white;
    }
}   

.name{
    margin-top: 130px;
    &__word:first-child{
        color: $main-yellow;
        text-align: left;
    }
    &__word + &__word{
        color: white;
        text-align: right;
    }
}

.offer{
    &__button{
        margin-top: 55px;
        margin-right: auto;
        margin-left: auto;
    }
}
//====================================
.trade-card-pattern {
    height: 500px;
    position: relative;
    &__item {
        position: absolute;
    }
    &__item:nth-child(1){
        width: 140px;
        height: 180px;
        left: 5%;
    }
    &__item:nth-child(2){
        width: 140px;
        height: 180px;
        right: 5%;
    }
    &__item:nth-child(3){
        width: 205px;
        height: 265px;
        top: 70px;
        left: 20%;
    }
    &__item:nth-child(4){
        width: 205px;
        height: 265px;
        top: 70px;
        right: 20%;
    }
    &__item:nth-child(5){
        width: 275px;
        height: 350px;
        top:170px;
        left:50%;
        margin-left:-137.5px;
    }
}
.background-layer__name{
    text-align: center;
    margin-top: 60px;
    font-family: $title-font;
    font-size: 8.5vw;
    background: linear-gradient(180deg, rgba(181, 181, 181, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
