.reports{
    margin-top: 210px;
    &__container{
        margin-left: 250px;
        margin-right: 250px;
    }
    &__tab{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: flex;  
        justify-content: center;
        flex-wrap: wrap;
    }
    &__tab-item{
        background: #151515;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        flex-basis: content;
        padding: 5px;
        margin-top: 13px;
        margin-right: 5px;
        margin-left: 5px;
    }
    &__scheme{
        margin-top: 75px;
        display: flex;
        align-items: center;
    }
    &__device{
        margin-right: 5vw;
    }
}
.function-item{
    max-width: 275px;
    &::marker{
        color: #FFFFFF;
    }
    & .text{
        display: inline-block;
        & + .text{
            margin-top: 5px;
            margin-left: 20px;
        }
    }
    &#function-item-1{
        margin-left: 1vw;
        margin-bottom: 3vw;
    }
    &#function-item-2{
        margin-left: 4vw;
        margin-bottom: 3vw;
    }
}
@media screen and (min-width: $tablet-screen) {
    
}
@media screen and (max-width: $tablet-screen) {
    
}
@media screen and (max-width: $mobile-screen) {
    
}