.source{
    margin-top: 165px;
    &__container{
        margin-right: 215px;
        margin-left: 215px;
    }
    &__list{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item{
        margin-top: 50px;
    }
    &__item:last-child{
        margin-left: auto;
        margin-right: auto;
    }
}

.source-item{
    min-width: 640px;
    position: relative;
    background: #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 40px;
    padding: 30px 45px;
    &__text{
        margin-left: 20px;
    }
    &__icon{
        width: 120px;
        height: 120px;
        position: absolute;
        top: -35%;
        right: -5%;
    }
    &:last-child > &__icon{
        right: 0px;
    }
}
