.source{
    margin-top: 165px;
    &__container{
        margin-right: 215px;
        margin-left: 215px;
    }
    &__list{
        margin-top: 50px;
        margin-left: -100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item{
        margin-top: 50px;
    }
    &__item{
        // margin-left: auto;
        // margin-right: auto;
    }
}

.source-item{
    flex-grow: 1;
    min-width: 600px;
    max-width: 730px;
    position: relative;
    background: #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 40px;
    padding: 30px 45px;
    margin-left: 100px;
    &__text{
        margin-left: 20px;
    }
    &__icon{
        width: 120px;
        height: 120px;
        position: absolute;
        top: -35%;
        right: -5%;
    }
    &:nth-child(1) > &__icon, :nth-child(3) > &__icon{
        width: 170px;
        height: 170px;
    }
    &:last-child > &__icon{
        top: -15%;
        right: 0px;
        width: 170px;
        height: 170px;
    }
}
