.source{
    &__list{
        margin-left: -5vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.source-item{
    flex-grow: 1;
    max-width: 690px;
    position: relative;
    background: #FFFFFF;
    backdrop-filter: blur(7px);
    margin-left: 5vw;
}

@media screen and (min-width: $tablet-screen) {
    .source{
        margin-top: 165px;
        &__container{
            margin-right: 11vw;
            margin-left: 11vw;
        }
        &__list{
            margin-top: 50px;
        }
        &__item{
            margin-top: 50px;
        }
    }
    .source-item{
        padding: 30px 100px 30px 45px;
        border-radius: 40px;
        min-width: 400px;
        &__text{
            margin-left: 20px;
        }
        &:last-child{
            padding-right: 200px;
        }
        &__icon{
            width: 120px;
            height: 120px;
            position: absolute;
            top: -35%;
            right: -5%;
        }
        &:last-child > &__icon{
            top: -15%;
            right: 0px;
            width: 170px;
            height: 170px;
        }
    }
}
@media screen and (max-width: $tablet-screen) {
    .source{
        margin-top: 60px;
        &__container{
            margin-right: 15vw;
            margin-left: 15vw;
        }
        &__list{
            margin-top: 30px;
        }
        &__item{
            margin-top: 20px;
        }
    }

    .source-item{
        padding: 10px 100px 10px 23px;
        border-radius: 20px;
        min-width: 400px;
        &__icon{
            width: 80px;
            height: 80px;
            position: absolute;
            top: -5%;
            right: -3%;
        }
    }
}
@media screen and (max-width: $mobile-screen) {
    .source{
        margin-top: 60px;
        &__container{
            margin-right: 5px;
            margin-left: 5px;
        }
        &__list{
            margin-top: 10px;
        }
        &__item{
            margin-top: 15px;
            margin-right: 35px;
        }
    }

    .source-item{
        padding: 10px 60px 10px 23px;
        border-radius: 20px;
        min-width: 250px;
        &__icon{
            width: 80px;
            height: 80px;
            position: absolute;
            top: -5%;
            right: -10%;
        }
    }
}