//IMPORT
@import 'media/fonts/satoshi.css';
@import 'scss/reset.scss';

@font-face {
    font-family: 'NIKEA';
    src: url(media/NIKEA.otf);
}

// VARIABLES
$background-color: #151515;
$main-yellow: #FFB600;
$main-blue: #3888FF;
$main-purple: #6F00FF;

//ALL
.radial-gradient--orange{
    position: absolute;
    background: radial-gradient(37.14% 50% at 50% 50%, rgba(255, 222, 0, 0.7) 0%, rgba(255, 182, 0, 0) 100%, rgba(255, 222, 0, 0) 100%);
    transform: rotate(60deg);
}
.radial-gradient--purple{
    position: absolute;
    background: radial-gradient(39.16% 50% at 50% 50%, rgba(111, 0, 255, 0.8) 0%, rgba(111, 0, 255, 0) 100%);
    transform: rotate(-30deg);
}
.pink-cyrcle{
    
}

.page--main{
    background: $background-color;
}

.container{
    margin: 30px 16.14vw 0;
}

.text{
    font-family: 'Satoshi-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: white;
}

.button{
    font-family: 'Satoshi-Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
}

// HEADER

.background-layer{
    .radial-gradient--orange, .radial-gradient--purple{
        width: 39vw;
        height: 39vw;
        z-index: -1;
    }
    .radial-gradient--orange:first-child{
        top: 150px;
        left: -125px;
    }
    .radial-gradient--orange + .radial-gradient--orange{
        top: -20px;
        left: -200px;
        transform: rotate(0deg);
    }
    .radial-gradient--purple{
        top: 100px;
        right: -150px;
    }
}

.header{
    height: 100vh;
}

.topboard{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo, .autorization{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 70px;
    width: 175px;
    &__image{
        height: 70px;
        width: 80px;
    }
    &__text{
        margin-left: 7px;
        height: 30px;
    }
    &__word{ 
        font-family: 'NIKEA', sans-serif;
        color: $main-yellow;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        text-transform: uppercase;
    }
    &__word + &__word{
        color: white;
    }
}   

.autorization__button{
    padding: 7px 30px;
    border-radius: 20px;
    font-family: 'Satoshi-Regular', sans-serif;
    color: white;
    font-size: 20px;
    line-height: 27px;
    &.login{
        border: 1px solid $main-yellow;
        filter: drop-shadow(0px 0px 10px $main-yellow);
        transition: background-color 0.5s;
    }
    &.login:hover{
        background-color: $main-yellow;
    }
    &.login:active{
        border: 1px solid white;
    }
    &.signup{
        border: 1px solid $main-purple;
        filter: drop-shadow(0px 0px 20px $main-purple);
        transition: background-color 0.5s;
    }
    &.signup:hover{
        background-color: $main-purple;
    }
    &.signup:active{
        border: 1px solid white;
    }
    &:first-child{
        margin-right: 20px;
    }
}

.offer{
    margin-top: 120px;
    &__text{
        text-align: center;
    }
    &__button{
        font-size: 24px;
        line-height: 32px;
        display: block;
        background: #FFB600;
        border-radius: 20px;
        transition: filter 0.5s;
        padding: 15px 30px;
        margin: 70px auto auto;
    }
    &__button:hover{
        filter: drop-shadow(0px 0px 10px $main-yellow);
    }
    &__button:active{
        border: 1px solid white;
    }
}

.name{
    &__word{
        font-family: 'NIKEA', sans-serif;
        font-weight: 400;
        font-size: 150px;
        line-height: 164px;
        text-transform: uppercase;
    }
    &__word:first-child{
        color: $main-yellow;
        text-align: left;
    }
    &__word + &__word{
        color: white;
        text-align: right;
    }
}