//IMPORT=======================================================================

@import 'media/fonts/satoshi.css';
@import 'scss/reset.scss';

@font-face {
    font-family: 'NIKEA';
    src: url(media/NIKEA.otf);
}

// VARIABLES=======================================================================

$background-color: #151515;
$main-yellow: #FFB600;
$main-blue: #3888FF;
$main-purple: #6F00FF;
$gradient-def: linear-gradient(108.89deg, #FFB600 0%, #FF0091 52.19%, #6F00FF 101.21%);
$title-font: 'NIKEA', sans-serif;
$text-font: 'Satoshi-Regular', sans-serif;

//ALL=======================================================================

.page--main{
    background: $background-color;
    overflow-x:hidden; 
}
.container{
    margin: 30px 16.14vw 0;
}
.radial-gradient--orange{
    position: absolute;
    background: radial-gradient(37.14% 50% at 50% 50%, rgba(255, 222, 0, 0.7) 0%, rgba(255, 182, 0, 0) 100%, rgba(255, 222, 0, 0) 100%);
    transform: rotate(60deg);
}
.radial-gradient--purple{
    position: absolute;
    background: radial-gradient(39.16% 50% at 50% 50%, rgba(111, 0, 255, 0.8) 0%, rgba(111, 0, 255, 0) 100%);
    transform: rotate(-30deg);
}
.pink-cyrcle{
    position: absolute;
}
.text{
    font-family: $text-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
.title{
    font-family: $title-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    color: white;
}
.button{
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
}

// HEADER=======================================================================

.background-layer{
    .radial-gradient--orange, .radial-gradient--purple, .pink-cyrcle{
        width: 39vw;
        height: 39vw;
        z-index: -1;
    }
    .radial-gradient--orange:first-child{
        top: 150px;
        left: -125px;
    }
    .radial-gradient--orange + .radial-gradient--orange{
        top: -20px;
        left: -200px;
        transform: rotate(0deg);
    }
    .radial-gradient--purple{
        top: 100px;
        right: -150px;
    }
    .pink-cyrcle{
        right: -300px;
        top: 25px;
    }
}

//====================================

.header{
    height: 140vh;
}
.topboard{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo, .autorization{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width: 175px;
    &__image{
        height: 70px;
        width: 80px;
    }
    &__text{
        margin-left: 7px;
        height: 30px;
    }
    &__word{ 
        font-family: $title-font;
        color: $main-yellow;
        font-weight: 400;
        font-size: 13px;
        line-height: 14px;
        text-transform: uppercase;
    }
    &__word + &__word{
        color: white;
    }
}   
.autorization__button{
    padding: 7px 30px;
    border-radius: 20px;
    font-family: $text-font;
    color: white;
    font-size: 20px;
    line-height: 27px;
    &.login{
        border: 1px solid $main-yellow;
        filter: drop-shadow(0px 0px 10px $main-yellow);
        transition: background-color 0.5s;
    }
    &.login:hover{
        background-color: $main-yellow;
    }
    &.login:active{
        border: 1px solid white;
    }
    &.signup{
        border: 1px solid $main-purple;
        filter: drop-shadow(0px 0px 20px $main-purple);
        transition: background-color 0.5s;
    }
    &.signup:hover{
        background-color: $main-purple;
    }
    &.signup:active{
        border: 1px solid white;
    }
    &:first-child{
        margin-right: 20px;
    }
}
.offer{
    margin-top: 120px;
    &__text{
        text-align: center;
    }
    &__button{
        font-size: 24px;
        line-height: 32px;
        display: block;
        background: #FFB600;
        border-radius: 20px;
        transition: filter 0.5s;
        padding: 15px 30px;
        margin: 70px auto auto;
    }
    &__button:hover{
        filter: drop-shadow(0px 0px 10px $main-yellow);
    }
    &__button:active{
        border: 1px solid white;
    }
}
.name{
    &__word{
        font-family: $title-font;
        font-weight: 400;
        font-size: 150px;
        line-height: 164px;
        text-transform: uppercase;
    }
    &__word:first-child{
        color: $main-yellow;
        text-align: left;
    }
    &__word + &__word{
        color: white;
        text-align: right;
    }
}
//====================================
.trade-card-pattern {
    height: 500px;
    position: relative;
    &__item {
        position: absolute;
    }
    &__item:nth-child(1){
        width: 140px;
        height: 180px;
        left: 5%;
    }
    &__item:nth-child(2){
        width: 140px;
        height: 180px;
        right: 5%;
    }
    &__item:nth-child(3){
        width: 205px;
        height: 265px;
        top: 70px;
        left: 20%;
    }
    &__item:nth-child(4){
        width: 205px;
        height: 265px;
        top: 70px;
        right: 20%;
    }
    &__item:nth-child(5){
        width: 275px;
        height: 350px;
        top:170px;
        left:50%;
        margin-left:-137.5px;
    }
}
.background-layer__name{
    text-align: center;
    margin-top: 60px;
    font-family: $title-font;
    font-size: 8.5vw;
    background: linear-gradient(180deg, rgba(181, 181, 181, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

// ANALYSIS==================================================================
.analysis{
    margin-top: 150px;
    .container{
        margin: 0 165px;
    }
    .text{
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        max-width: 675px;
    }
}
.cylinder{
    width: 260px;
    position: relative;
    top: -70px;
    &__layer{
        position: absolute;
        width: 260px;
    }
    &__layer:nth-child(3){
        top: 0;
    }
    &__layer:nth-child(2){
        top: 120px;
    }
    &__layer:nth-child(1){
        top: 240px;
    }
}