// GLOBAL ==================================================================

// MEDIA QUERIES 
@media screen and (min-width: $desctop-screen) {
    
}
@media screen and (min-width: $tablet-screen) {
    
}
@media screen and (max-width: $tablet-screen) {
    
}
@media screen and (max-width: $mobile-screen) {
    
}

// STRUCTURE
.page, html{
    height: 100%;
    overflow-x: hidden !important;
    width: 100%;
    position: fixed;
}
.page{
    &--main{
        background: $background-color;
    }
}
.container{
    margin-top: 30px;
}

// GRAPHIC ARTS
.radial-gradient{
    position: absolute;
    &--orange{
        background: radial-gradient(37.14% 50% at 50% 50%, rgba(255, 222, 0, 0.7) 0%, rgba(255, 182, 0, 0) 100%, rgba(255, 222, 0, 0) 100%);
        transform: rotate(60deg);
    }
    &--purple{
        background: radial-gradient(39.16% 50% at 50% 50%, rgba(111, 0, 255, 0.8) 0%, rgba(111, 0, 255, 0) 100%);
        transform: rotate(-30deg);
    }
}
.pink-cyrcle{
    position: absolute;
}

// INTERACTIVE
.jump-object-up{
    transition: translate 0.5s;
    &:hover{
        translate: 0 -5%;
    }
}
.jump-object-right{
    transition: translate 0.5s;
    &:hover{
        translate: 5%;
    }
}