// VARIABLES=======================================================================

$mobile-screen: 390px;
$tablet-screen: 744px;
$desctop-screen: 1920px;

$background-color: #151515;
$main-yellow: #FFB600;
$main-blue: #3888FF;
$main-purple: #6F00FF;
$main-pink: #FF0091;

$gradient-def: linear-gradient(108.89deg, $main-yellow 0%, $main-pink 52.19%, $main-purple 101.21%);

$title-font: 'NIKEA', sans-serif;
$text-font: 'Satoshi-Regular', sans-serif;